{% extends 'base.html' %}
{% load static %}

{% block title %}Filtered Properties{% endblock title %}
{% block css_files %}
  <link rel="stylesheet" href="{% static 'haji_salam/css/.css' %}">
{% endblock css_files %}

{% block home_nav_link %}
  <a href="{% url 'home-page' %}" class="nav-link ms-5">Home</a>
{% endblock home_nav_link %}
{% block properties_nav_link %}
  <a href="{% url 'all-properties-page' %}" class="nav-link ms-5">Properties</a>
{% endblock properties_nav_link %}
{% block about_nav_link %}
  <a href="" class="nav-link ms-5">About Us</a>
{% endblock about_nav_link %}
{% block contact_nav_link %}
  <a href="" class="nav-link ms-5">Contaxt Us</a>
{% endblock contact_nav_link %}


{% block content %}
  <div class="container pt-5 pb-5 card-container">
    <div class="row">
      <div class="col">
        <h1 class="text-center mb-5 featured-txt">Result Properties</h1>
      </div>
    </div>
    <div class="row gy-5">
      {% for p in filtered_properties %}
        {% include 'haji_salam/includes/property-card.html' %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}