{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
  {{ prop.title }}
{% endblock title %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'haji_salam/css/prop-detail.css' %}" />
  <link rel="stylesheet" href="{% static 'haji_salam/css/advanced-filtering.css' %}" />
{% endblock css_files %}

{% block home_nav_link %}
  <a href="{% url 'home-page' %}" class="nav-link ms-5">Home</a>
{% endblock home_nav_link %}

{% block properties_nav_link %}
  <a href="{% url 'all-properties-page' %}" class="nav-link ms-5">Properties</a>
{% endblock properties_nav_link %}

{% block about_nav_link %}
  <a href="" class="nav-link ms-5">About Us</a>
{% endblock about_nav_link %}

{% block contact_nav_link %}
  <a href="" class="nav-link ms-5">Contact Us</a>
{% endblock contact_nav_link %}

{% block content %}
<div class="container-fluid detail-page-container">
  <div class="row justify-content-center">
    <div class="col-lg-8 prop-details">

      <div class="title-container d-flex flex-column">
        <h3 class="mb-2">{{ prop.title }}</h3>

        <p class="d-flex align-items-center mb-2">
          <img src="{% static 'haji_salam/icons/date.png' %}" alt="" class="icon me-2" />
          {{ prop.date|date:"d/m/Y" }}
        </p>

        <p class="d-flex align-items-center mb-2">
          <img src="{% static 'haji_salam/icons/location.png' %}" alt="" class="icon me-2" />
          {{ prop.city|capfirst }},
          {% if prop.region %}
            {{ prop.region|capfirst }}
          {% elif prop.project %}
            {{ prop.project|capfirst }}
          {% endif %}
        </p>
      </div>

      <div class="carousel-container">
        {% include 'haji_salam/includes/property-img-carousel.html' %}

        <div class="d-flex align-items-center mt-3">
          <img src="{% static 'haji_salam/icons/price.png' %}" alt="" class="icon me-2" style="height: 50px" />
          <div>
            Price
            <b style="font-size: 20px" class="d-block">${{ prop.price|intcomma }}</b>
          </div>
        </div>

        <div class="d-flex align-items-center mt-3">
          <img src="{% static 'haji_salam/icons/purpose.png' %}" alt="" class="icon me-2" style="height: 50px" />
          <div>
            Purpose of Property
            <b style="font-size: 20px" class="d-block">{{ prop.purpose }}</b>
          </div>
        </div>

        <div class="d-flex align-items-center mt-3">
          <img src="{% static 'haji_salam/icons/area.png' %}" alt="" class="icon me-2" style="height: 50px" />
          <div>
            Area
            <b style="font-size: 20px" class="d-block">{{ prop.area }}m<sup>2</sup></b>
          </div>
        </div>

        <div class="d-flex align-items-center mt-3">
          <img src="{% static 'haji_salam/icons/type.png' %}" alt="" class="icon me-2" style="height: 50px" />
          <div>
            Property Type
            <b style="font-size: 20px" class="d-block">{{ prop.type }}</b>
          </div>
        </div>

        {% if prop.type in "House Villa Apartment" %}
        <div class="d-flex align-items-center mt-3">
          <img src="{% static 'haji_salam/icons/furniture.png' %}" alt="" class="icon me-2" style="height: 50px" />
          <div>
            Furnishing
            <b style="font-size: 20px" class="d-block">
              {% if prop.furnishing %}Furnished{% else %}Unfurnished{% endif %}
            </b>
          </div>
        </div>
        {% endif %}
      </div>

      {% if prop.type in "House Villa Apartment" %}
      <div class="property-features text-nowrap">
        <h4 class="mb-3">Property Features</h4>
        <div class="row gy-3">
          <div class="col-lg-4 d-flex align-items-center">
            <img src="{% static 'haji_salam/icons/bedroom.png' %}" alt="" class="icon me-2" />
            <b class="me-1">Bedrooms:</b> {{ prop.bedrooms }}
          </div>
          <div class="col-lg-4 d-flex align-items-center">
            <img src="{% static 'haji_salam/icons/couch.png' %}" alt="" class="icon me-2" />
            <b class="me-1">Reception rooms:</b> {{ prop.reception_rooms }}
          </div>
          <div class="col-lg-4 d-flex align-items-center">
            <img src="{% static 'haji_salam/icons/bathroom.png' %}" alt="" class="icon me-2" />
            <b class="me-1">Bathrooms:</b> {{ prop.bathrooms }}
          </div>
          <div class="col-lg-4 d-flex align-items-center">
            <img src="{% static 'haji_salam/icons/bathroom.png' %}" alt="" class="icon me-2" />
            <b class="me-1">Kitchens:</b> {{ prop.kitchens }}
          </div>
          <div class="col-lg-4 d-flex align-items-center">
            <img src="{% static 'haji_salam/icons/garage.png' %}" alt="" class="icon me-2" />
            <b class="me-1">Garages:</b> {{ prop.garage }}
          </div>
          <div class="col-lg-4 d-flex align-items-center">
            <img src="{% static 'haji_salam/icons/balcony.png' %}" alt="" class="icon me-2" />
            <b class="me-1">Balconies:</b> {{ prop.balcony }}
          </div>
        </div>
      </div>
      {% endif %}

      <div class="location-container mt-4">
        <h4>Location of Property</h4>
        <h1>Under Development</h1>
      </div>

      <div class="contact-container mt-4">
        <h4>Contact us About this Property</h4>
        <h1>Under Development</h1>
      </div>

    </div>
    <div class="col-lg-4 search-filter-container d-flex flex-column align-items-center">
      <h3 class="mb-4 text-nowrap">Filter your desired property</h3>
      {% include "haji_salam/includes/property-dropdowns.html" %}
    </div>
  </div>
</div>

<script src="{% static 'haji_salam/js/live-search.js' %}"></script>
<script src="{% static 'haji_salam/js/search-filter.js' %}"></script>
{% endblock content %}
