body {
  background-color: #e9e9e9;
}

.navbar {
  padding: 25px 75px 25px 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.521);
  background-color: #e9e9e9;
  z-index: 1001;
}

#brand-container img {
  height: 75px;
}

.nav-link::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: #88190E;
  transform: scale(0);
  transition: transform 0.2s linear;
}

.nav-link:hover::after {
  transform: scale(1);
}

.nav-link.active::after {
  transform: scale(1);
}

.banner {
  position: relative;
  margin-top: 125px;
  color: white;
  background-color: rgba(0, 0, 0, 0.326);
}