{% load static %}
{% block css_files %}
  <link rel="stylesheet" href="{% static 'haji_salam/css/property-card.css' %}">
{% endblock css_files %}  


<div class="col d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    
    <div class="main-img-container">
      <img src="{{ p.main_image.url }}" class="card-img-top object-fit-cover  " alt="...">
      <div class="overlay">
        <a href="{% url 'detail-page' slug=p.prop_slug %}" class="btn">View Details</a>
      </div>

      
      <div class="purpose-container">
        {{ p.purpose }}
      </div>
      <div class="price-container">
        ${{ p.price }}
      </div>
    </div>

    <div class="card-body">
      <h5 class="card-title text-truncate">{{ p.title }}</h5>
      <div class="📍">
        <div class="address d-flex align-items-center" style="margin: 0;">
          <img src="{% static 'haji_salam/icons/location.png' %}" alt="" class="icon me-2">{{ p.city|capfirst }}, {% if p.region %}{{ p.region|capfirst }}{% elif p.project %}{{ p.project|capfirst }}{% endif %}
        </div>
        <div class="d-flex align-items-center mb-1"><img src="{% static 'haji_salam/icons/type.png' %}" alt="" class="icon me-2">{{ p.type }}</div>
      </div>
      <hr>
      <div class="📝 d-flex justify-content-around">

        <div class="d-flex align-items-center">
          <img src="{% static 'haji_salam/icons/area.png' %}" alt="" class="img-fluid icon me-2" style="">{{ p.area }}m<sup>2</sup>
        </div>

        {% if p.bedrooms %}
          <div class="d-flex align-items-center">
            <img src="{% static 'haji_salam/icons/bedroom.png' %}" alt="" class="img-fluid icon me-2" style=""> {{ p.bedrooms }}
          </div>
        {% endif %}

        {% if p.reception_rooms %}
          <div class="d-flex align-items-center">
            <img src="{% static 'haji_salam/icons/couch.png' %}" alt="" class="img-fluid icon me-2" style=""> {{ p.reception_rooms }}
          </div>
        {% endif %}

        {% if p.bathrooms %}
          <div class="d-flex align-items-center">
            <img src="{% static 'haji_salam/icons/bathroom.png' %}" alt="" class="img-fluid icon me-2" style=""> {{ p.bathrooms }}
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>