{% load static %}

<div class="col d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <img src="{{ p.main_image.url }}" class="card-img-top object-fit-cover  " alt="...">
    <div class="card-body">
      <h5 class="card-title text-truncate">{{ p.title }}</h5>
      <div class="📍">
        <div class="address d-flex align-items-center" style="margin: 0;"><img src="{% static 'haji_salam/icons/location.png' %}" alt="" class="img-fluid icon me-2">{{ p.city|capfirst }}, {{ p.neighborhood_or_project|capfirst }}</div>
        <div class="d-flex align-items-center mb-1"><img src="{% static 'haji_salam/icons/home.png' %}" alt="" class="icon me-2">{{ p.type }}</div>
      </div>
      <hr>
      <div class="📝 d-flex justify-content-around">

        <div class="d-flex align-items-center">
          <img src="{% static 'haji_salam/icons/area.png' %}" alt="" class="img-fluid icon me-2" style="">{{ p.area }}m<sup>2</sup>
        </div>

        {% if p.bedrooms %}
          <div class="d-flex align-items-center">
            <img src="{% static 'haji_salam/icons/bedroom.png' %}" alt="" class="img-fluid icon me-2" style=""> {{ p.bedrooms }}
          </div>
        {% endif %}

        {% if p.reception_rooms %}
          <div class="d-flex align-items-center">
            <img src="{% static 'haji_salam/icons/couch.png' %}" alt="" class="img-fluid icon me-2" style=""> {{ p.reception_rooms }}
          </div>
        {% endif %}

        {% if p.bathrooms %}
          <div class="d-flex align-items-center">
            <img src="{% static 'haji_salam/icons/bathroom.png' %}" alt="" class="img-fluid icon me-2" style=""> {{ p.bathrooms }}
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>