{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'haji_salam/css/property-img-carousel.css' %}">
{% endblock css_files %}

<div id="property-carousel" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-indicators">
    {% for img in images %}
      <button type="button" data-bs-target="#property-carousel" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></button>
    {% endfor %}
  </div>

  <div class="carousel-inner">
    {% for img in images %}
      <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
        <img src="{{ img.image.url }}" class="d-block img-fluid carousle-img" alt="{{ prop.title }}">
      </div>
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#property-carousel" data-bs-slide="prev">
    <img src="{% static 'haji_salam/icons/prev.png' %}" alt="" class="carousel-control-icon" aria-hidden="true">
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#property-carousel" data-bs-slide="next">
    <img src="{% static 'haji_salam/icons/next.png' %}" alt="" class="carousel-control-icon" aria-hidden="true">
    <span class="visually-hidden">Next</span>
  </button>
</div>